/*--- Avanquest WebEasy Page Style ---*/


.cc04               { /* Common */
	font            : 24pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	text-align      : center;
	}
div#e4              {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :   7.50pt;
	top             :   0.00pt;
	width           : 660.00pt;
	height          : 600.00pt;
	}
div#e3              { /* Home */
	text-align      : center;
	padding-top     :   1.50pt;
	position        : absolute;
	left            : 558.75pt;
	top             :  57.75pt;
	width           :  69.75pt;
	height          :  18.00pt;
	}
span#e2             { /* images/dnnd1003001.jpg */
	background      : transparent url(images/dnnd1003001.jpg) no-repeat top left;
	position        : absolute;
	left            :   9.75pt;
	top             :  78.00pt;
	width           : 656.25pt;
	height          : 384.00pt;
	}
div#e1              { /* DANA NODE POOL\ \DNND */
	position        : absolute;
	left            : 165.00pt;
	top             :  15.00pt;
	width           : 330.75pt;
	height          :  60.75pt;
	}
div#page            { /* Page Holder */
	position        : relative;
	width           : 675.00pt;
	height          : 825.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #d6d6d6;
	text-align      : center;
	}



/*--- EndOfFile ---*/
