/*--- Avanquest WebEasy Page Style ---*/


.cc01               { /* Common */
	font            : 24pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc02               { /* Common */
	font            : 24pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	text-align      : center;
	}
div#e19             {
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	text-align      : left;
	position        : absolute;
	left            :   7.50pt;
	top             :   0.00pt;
	width           : 660.00pt;
	height          : 600.00pt;
	}
em#e18              { /* To delegate:\ \1- Open f... */
	font            : 12pt 'Malgun Gothic';
	color           : #000000;
	text-align      : left;
	position        : absolute;
	left            :  30.00pt;
	top             : 427.50pt;
	width           : 473.25pt;
	height          :  33.75pt;
	}
a#a18               { /* To delegate:\ \1- Open f... */
	font            : 12pt 'Malgun Gothic';
	color           : #000000;
	}
span#e17            { /* images/dnnd1001003.jpg */
	background      : transparent url(images/dnnd1001003.jpg) no-repeat top left;
	position        : absolute;
	left            :  30.00pt;
	top             :  45.00pt;
	width           : 596.25pt;
	height          : 162.00pt;
	}
div#e16             { /* Highly available\ \Secur... */
	position        : absolute;
	left            :  34.50pt;
	top             :  75.75pt;
	width           : 196.50pt;
	height          :  86.25pt;
	}
div#e15             { /* Let Us Delegate to Dana ... */
	background      : transparent url(images/dnnd1001002.jpg) no-repeat top left;
	position        : absolute;
	left            : 108.00pt;
	top             : 179.25pt;
	width           : 447.75pt;
	height          :  42.00pt;
	}
em#e14              { /* Pool ID:  52ffc8b767d552... */
	font            : 12pt 'Malgun Gothic';
	color           : #000000;
	text-align      : left;
	position        : absolute;
	left            :  54.75pt;
	top             : 220.50pt;
	width           : 546.00pt;
	height          :  16.50pt;
	}
a#a14               { /* Pool ID:  52ffc8b767d552... */
	font            : 12pt 'Malgun Gothic';
	color           : #000000;
	}
em#e13              { /* Pool Ticker:  DNND */
	font            : 12pt 'Malgun Gothic';
	color           : #000000;
	text-align      : left;
	position        : absolute;
	left            :  52.50pt;
	top             : 247.50pt;
	width           : 546.00pt;
	height          :  16.50pt;
	}
a#a13               { /* Pool Ticker:  DNND */
	font            : 12pt 'Malgun Gothic';
	color           : #000000;
	}
em#e12              { /* Pool Location: Indiana U... */
	font            : 12pt 'Malgun Gothic';
	color           : #000000;
	text-align      : left;
	position        : absolute;
	left            :  52.50pt;
	top             : 367.50pt;
	width           : 546.00pt;
	height          :  27.75pt;
	}
a#a12               { /* Pool Location: Indiana U... */
	font            : 12pt 'Malgun Gothic';
	color           : #000000;
	}
em#e11              { /* Email:  dananodeada@gmai... */
	font            : 12pt 'Malgun Gothic';
	color           : #000000;
	text-align      : left;
	position        : absolute;
	left            :  52.50pt;
	top             : 397.50pt;
	width           : 546.00pt;
	height          :  16.50pt;
	}
a#a11               { /* Email:  dananodeada@gmai... */
	font            : 12pt 'Malgun Gothic';
	color           : #000000;
	}
span#e10            { /* images/dnnd1001001.jpg */
	background      : transparent url(images/dnnd1001001.jpg) no-repeat top left;
	position        : absolute;
	left            : 487.50pt;
	top             : 420.00pt;
	width           : 150.00pt;
	height          : 165.00pt;
	}
em#e9               { /* 2- Buy Cardano, Ada, int... */
	font            : 12pt 'Malgun Gothic';
	color           : #000000;
	text-align      : left;
	position        : absolute;
	left            :  30.00pt;
	top             : 472.50pt;
	width           : 473.25pt;
	height          :  19.50pt;
	}
em#e8               { /* 3- Download Cardano wall... */
	font            : 12pt 'Malgun Gothic';
	color           : #000000;
	text-align      : left;
	position        : absolute;
	left            :  30.00pt;
	top             : 502.50pt;
	width           : 473.25pt;
	height          :  19.50pt;
	}
a#a8                { /* 3- Download Cardano wall... */
	font            : 12pt 'Malgun Gothic';
	color           : #000000;
	}
em#e7               { /* 4- Transfer Ada from you... */
	font            : 12pt 'Malgun Gothic';
	color           : #000000;
	text-align      : left;
	position        : absolute;
	left            :  30.00pt;
	top             : 532.50pt;
	width           : 473.25pt;
	height          :  19.50pt;
	}
em#e6               { /* Test a transfer with sma... */
	font            : 10pt 'Malgun Gothic';
	color           : #000000;
	text-align      : left;
	position        : absolute;
	left            :  45.00pt;
	top             : 547.50pt;
	width           : 457.50pt;
	height          :  22.50pt;
	}
em#e5               { /* 5- In your Yoroi wallet,... */
	font            : 12pt 'Malgun Gothic';
	color           : #000000;
	text-align      : left;
	position        : absolute;
	left            :  30.00pt;
	top             : 570.00pt;
	width           : 473.25pt;
	height          :  36.75pt;
	}
a#a5                { /* 5- In your Yoroi wallet,... */
	font            : 12pt 'Malgun Gothic';
	color           : #000000;
	}
em#e4               { /* Verify DNND with pool.ve... */
	font            : 12pt 'Malgun Gothic';
	color           : #000000;
	text-align      : left;
	position        : absolute;
	left            :  52.50pt;
	top             : 277.50pt;
	width           : 546.00pt;
	height          :  16.50pt;
	}
a#a4                { /* Verify DNND with pool.ve... */
	font            : 12pt 'Malgun Gothic';
	color           : #000000;
	}
em#e3               { /* DNND in detail on AdaSta... */
	font            : 12pt 'Malgun Gothic';
	color           : #000000;
	text-align      : left;
	position        : absolute;
	left            :  52.50pt;
	top             : 307.50pt;
	width           : 546.00pt;
	height          :  18.00pt;
	}
a#a3                { /* DNND in detail on AdaSta... */
	font            : 12pt 'Malgun Gothic';
	color           : #000000;
	}
em#e2               { /* DNND in detail on pool.p... */
	font            : 12pt 'Malgun Gothic';
	color           : #000000;
	text-align      : left;
	position        : absolute;
	left            :  52.50pt;
	top             : 337.50pt;
	width           : 546.00pt;
	height          :  18.00pt;
	}
a#a2                { /* DNND in detail on pool.p... */
	font            : 12pt 'Malgun Gothic';
	color           : #000000;
	}
div#e1              { /* DANA NODE POOL\ \DNND */
	position        : absolute;
	left            : 165.00pt;
	top             :  15.00pt;
	width           : 330.75pt;
	height          :  60.75pt;
	}
div#page            { /* Page Holder */
	background-color: #c0c0c0;
	position        : relative;
	width           : 675.00pt;
	height          : 825.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #c0c0c0;
	text-align      : center;
	}



/*--- EndOfFile ---*/
